<div class="home-container">
    <section class="gnrl-info">
        <div class="gnrl-info-date"><time>20.08.19</time></div>
        <section class="stats">
            <div class="achievment-rate">
                <h3>Achievment rate</h3>
                <div>83%</div>
            </div>
            <div class="achievment-time">
                <h3>Today's study time</h3>
                <div>03:06</div>
            </div>
        </section>
    </section>
    <section class="task-list">
        <ul>
            <li id="plan1" class="tast-item task-name plan1">
                <a href="#previewPlan1">plan 1 (8/12 problems)</a>
            </li>
            <li id="plan2" class="tast-item task-name plan2">
                <a href="#previewPlan2">plan 2 (02:07:34 of 03:00:00)</a>
            </li>
            <li id="plan3" class="tast-item task-name plan3">
                <a href="#previewPlan3">plan 3 (00:00:00 of 01:00:00)</a>
            </li>
        </ul>
    </section>
  </div>